# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=2000']  # 2 MB


-   repo: local
    hooks:
    -   id: ruff
        name: ruff
        entry: ruff
        language: system
        args: [format]
        types: [python]
